
.disp-div-root {

    .right-btn{
        position: absolute;
        right: 0px;
        top: 0px;
        height: 30px;
        width: 30px;
    }

    .disp-str {
        border-radius: 2px;
        padding-right: 30px;
        position: relative;
        width: 100%;
        min-height: 30px;

        span {
            display:none;
            position: absolute;
            right: 0px;
            top: 0px;
            height: 100%;
            width: 30px;
            background-color: $baseGray02;
            cursor: pointer;

            div {
                background-position: -480px -723px;
            }
        }

        &.enable:hover{
            background-color: rgba(255,255,255,1);
            border: 1px solid $border-color;

            span {
                display:block;
                border-left: 1px solid $border-color;
                backbround-color: $baseGray05;

            }
        }

    }

    .edit-str{
        position: relative;
        // padding-right: 30px;
        width: 100%;


        textarea {
            border-radius: 2px,2px, 0px, 2px;
            width: 100%;
            min-height: 87px;
            border: 1px solid $border-color;
        }

        .tool-area {
            position: relative;
            height: 25px;
            margin: 0px;

            .tool-panel{
                position: absolute;
                background-color: $baseGray02;
                border: 1px solid $baseGray05;
                border-top: none;
                border-radius: 0px 0px 4px 4px;
                width: 56px;
                height: 28px;
                right: 0px;
                padding-left: 4px;

                button {
                    width: 20px;
                    height: 20px;
                    border-radius: 2px;
                    border: 1px solid $baseGray05;
                    margin-left: 2px;
                    background-color: $baseGray01;
                    margin-top: -3px;
                }

                .finish-edit-btn{
                    right: 5px;
                    background-position: -5px -396px;
                }
                .cancel-edit-btn {
                    right: 31px;
                    background-position: -456px -757px;
                }
            }
            }
        }
}


  .disp-input-root {
    position: relative;
    font-size: 14px;
    input {
      width: 100%;
      height: 30px;
      background-color: rgba(255,255,255,0);
      padding-right: 30px;
      padding-left: 5px;
      text-overflow: ellipsis;
      overflow: hidden;
      border: none;
      outline: none;
    }

    button {
      display: none;
      position: absolute;
        right: 1px;
        top: 1px;
        width: 28px;
        height: 28px;
        background-position: -481px -721px;
      background-color:#eee;
    }

    .commit-input {
      background-position: -1px -391px;
    }
  }

  .disp-input-root:hover {

  }

  .input-edit {
    input {
      background-color: rgba(255,255,255,1);
      border-radius: 1px;
      border: 1px solid $border-color;
    }

    button {
      display: block;

    }
  }

.small-input-style {

  .disp-input-root {
    font-size: 13px;
    input {
      padding-left: 2px;
      height: 25px;
    }

    button {
      right: 1px;
      top: 1px;
      width: 23px;
      height: 23px;
      background-position: -483px -723px;
    }

    .commit-input {
      background-position: -3px -393px;
    }
  }

  .disp-input-root:hover {

  }

  .input-edit {
    input {

    }

  }
}

.big-input-style {

  .disp-input-root {
    font-size: 13px;
    input {
      padding-right: 38px;
      padding-left: 4px;
      height: 35px;
    }

    button {
      right: 1px;
      top: 1px;
      width: 33px;
      height: 33px;
      background-position: -479px -719px;
    }

    .commit-input {
      background-position: 1px -389px;;
    }
  }

  .disp-input-root:hover {

  }

  .input-edit {
    input {

    }

  }
}