//
// Load Mask
//----------------------------------------
$loadmask-bg-color:black !default;
$loadmask-bg-opacity:0.8 !default;
$loadmask-indicator-color:rgb(250, 20, 83) !default;
@include keyframes(line-scale) {
  from {
    @include transform(scale(1));
  }
  to {
    @include transform(scale(0.4));
  }
}

@include keyframes(bouncedelay) {
  0.01%,
  100% {
    @include transform(scale(0))
  }
  40% {
    @include transform(scale(1))
  }
}

.loadmask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10000000;
  //pointer-events: none;
  // background-color: rgba(0,0,0,0.2);
  .mask {
    width: 150px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: $loadmask-bg-color;
    opacity: $loadmask-bg-opacity;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 3px;
    button {
      position: absolute;
      right: 2px;
      top: 2px;
      pointer-events: all;
    }
  }
  .indicator {
    position: absolute;
    width: 120px;
    height: 24px;
    left: 50%;
    top: 50%;
    margin-left: -60px;
    margin-top: -6px;
    text-align: center;
    &.style-1 {
      > div {
        display: inline-block;
        border-radius: 2px;
        margin: 3px;
        width: 3px;
        height: 20px;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        background-color: $loadmask-indicator-color;
        &:nth-child(1) {
          -webkit-animation: line-scale 1s .1s infinite cubic-bezier(.2, .68, .18, 1.08);
          animation: line-scale 1s .1s infinite cubic-bezier(.2, .68, .18, 1.08)
        }
        &:nth-child(2) {
          -webkit-animation: line-scale 1s .2s infinite cubic-bezier(.2, .68, .18, 1.08);
          animation: line-scale 1s .2s infinite cubic-bezier(.2, .68, .18, 1.08)
        }
        &:nth-child(3) {
          -webkit-animation: line-scale 1s .3s infinite cubic-bezier(.2, .68, .18, 1.08);
          animation: line-scale 1s .3s infinite cubic-bezier(.2, .68, .18, 1.08)
        }
        &:nth-child(4) {
          -webkit-animation: line-scale 1s .4s infinite cubic-bezier(.2, .68, .18, 1.08);
          animation: line-scale 1s .4s infinite cubic-bezier(.2, .68, .18, 1.08)
        }
        &:nth-child(5) {
          -webkit-animation: line-scale 1s .5s infinite cubic-bezier(.2, .68, .18, 1.08);
          animation: line-scale 1s .5s infinite cubic-bezier(.2, .68, .18, 1.08)
        }
      }
    }
    &.style-2 {
      >div {
        display: inline-block;
        width: 18px;
        height: 18px;
        border-radius: 100%;
        background-color: white; //$loadmask-indicator-color;
        -webkit-animation: bouncedelay 1s infinite ease-in-out both;
        animation: bouncedelay 1s infinite ease-in-out both;
        margin-left: 10px;
        &:nth-child(1) {
          margin-left: 0;
          -webkit-animation-delay: -0.32s;
          animation-delay: -0.32s
        }
        &:nth-child(2) {
          -webkit-animation-delay: -0.16s;
          animation-delay: -0.16s
        }
      }
    }
  }
  .percent {
    position: absolute;
    left: 50%;
    top: 50%;
    color: white;
    margin-top: -19px;
    transform: translate(-50%, -50%);
  }
}

