//
// Loading more data indicator style , depend on spinner.scss now.
//
.m-load-more {
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  text-align: center;
  .loading-txt {
    display: none;
  }
  &.loading {
    .load-more-txt {
      display: none;
    }
    .loading-txt {
      display: block;
    }
  }
  &.disabled {
    cursor: default;
  }
}

