$progress-bar-track-color:#e3e3e3 !default;
$progress-bar-progress-color:#ff3366 !default;
$progress-bar-height:4px !default;
.progress-bar {
  position: relative;
  height: $progress-bar-height;
  overflow: hidden;
  background-color: $progress-bar-track-color;
  .progress {
    width: 0%;
    height: 100%;
    min-width: 0.5%;
    font-size: 12px;
    background-color: $progress-bar-progress-color;
    @include transition(width ease 0.5s);
  }
  .progress-noanimate {
    width: 0%;
    height: 100%;
    min-width: 0.5%;
    font-size: 12px;
    background-color: white;
  }
  &.small {
    height: 2px;
  }
  &.middle {
    height: 10px;
  }
  &.large {
    height: 16px;
  }
}

