
.step-titles {
	position: relative;
	width: 100%;
	height: 30px;

	.step-title{
		position: absolute;
		text-align: center;
    color: black;

	}
  .step-reached{
  	color: white;
  }

}

.step-buttons {
	margin:8px;
	margin-top: 20px;
	height: 5px;

	.pre-step {
		float: left;
	}
	.next-step {
		float: right;
	}

}